form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
    background-color: #ed303c;
    box-shadow: 2px 7px 6px 0px rgba(98, 5, 5, 0.36);
    color: #fff;
    border-radius: 15px;
    width: 30vw;
}
.input_div{
    display: flex;
    flex-direction: column;
    gap:8px;
}

input, select{
    border-radius: 5px;
    border:none;
    width: 25vw;
    height: 5vh;
}
.button_wrapper{
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.button_wrapper button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: larger;
    padding: 10px;
    box-shadow: 2px 7px 6px 0px rgba(3, 24, 70, 0.36);
    transition: .3s;
    cursor: pointer;
    background-color: rgb(2, 134, 229);
    color: #fff;
    font-weight: 600;
}
.button_wrapper button:hover{
    transform: scale(105%);    
}