.App {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1vw;
  height: 100vh;
}
.section{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  height: 100vh;
  width: 30%;
  border: 1px solid #000;
}